.numbers {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 200px;
    padding: 20px;
}

.numbers div{
    margin: 10px;
    border: 1px solid darkolivegreen;
    padding: 15px;
}